
<div class="menu-right__item">
    <i class="fas fa-shopping-cart"></i>
    <span>
        <a href="@Url.Action("XemGioHang","GioHang")">GIỎ HÀNG</a>
    </span>
    <p>
        so luong : @ViewBag.TongSoLuong
    </p>
    <p>
        Tong tien : @ViewBag.TongTien.ToString("#,##") VND 
    </p>
</div>