
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/Content/css/style1.css">
    <title> Chi Tiết Sản Phẩm </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/fontawesome/css/all.css">

</head>

<body>

    <div class="nav__menu">
        @Html.Action("MenuPartial", "Home")
    </div>

    @RenderBody()


    <!-- chitietsp -->
    <!-- footer -->
    <footer>
        <div id="footer">
            <ul>
                <li class="folilogo">
                    <div class="fologo">
                        <img src="~/Content/image/logo/xxx.png" style="width: 120px; padding-top: 15px;">
                    </div>
                </li>
                <li class="footerll">
                    <ul class="listll">
                        <li class="lifooter">
                            <p>Thông tin liên lạc</p>
                        </li>
                        <li class="lifooter">
                            <p>Số điện thoại : 0123456789</p>
                        </li>
                        <li class="lifooter">
                            <p>Email : 5Theway@gmail.com</p>
                        </li>
                        <li class="lifooter">
                            <p>Địa chỉ : số 182,Lê Duẩn,TP Vinh</p>
                        </li>
                    </ul>
                </li>
                <li class="footerll">
                    <ul class="listll">
                        <li class="lifooter">
                            <p>Hỗ Trợ Khách Hàng</p>
                        </li>
                        <li class="lifooter">
                            <p>Facebook: 5Theway</p>
                        </li>
                        <li class="lifooter">
                            <p>Instagram : 5thewayvietnam</p>
                        </li>
                        <li class="lifooter">
                            <p>SDT: 0123456789 prouct</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </footer>
</body>
